# --- Postgres ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=postgres     # change this!
POSTGRES_DB=postgres

# --- Gitea DB ---
GITEA_DB_USER=gitea
GITEA_DB_PASS=gitea            # change this!

# --- Network / infra ---
JENKINS_DOCKER_HOST=tcp://dind:2375
ALLOWED_WEBHOOK_HOST=192.168.68.200

# --- JVM tuning ---
NEXUS_JVM_OPTS=-Xms1g -Xmx2g -XX:MaxDirectMemorySize=2g
JENKINS_JAVA_OPTS=-Djenkins.install.runSetupWizard=true

